<!DOCTYPE html>
<html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Free School | Scholar's Tome </title>
    <!-- jQuery -->
    <script th:src="@{plugins/jquery/jquery.min.js}"></script>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <script th:inline="javascript" th:src="@{dist/js/pages/teacher/index.js}"></script>
</head>
<body>
<div layout:fragment="header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Teacher</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Teacher</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Teacher Detail</h3>
                    </div>
                    <div class="card-body">
                        <form id="teacherForm" onsubmit="return false;">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" id="teacherId" name="teacherId" th:value="${teacher.id}">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input th:value="${teacher.firstName}" type="text" maxlength="100" class="form-control" id="firstName" name="firstName" placeholder="First Name" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input th:value="${teacher.lastName}" type="text" maxlength="100" class="form-control" id="lastName" name="lastName" placeholder="Last Name" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input th:value="${teacher.email}" type="email" maxlength="100" class="form-control" id="email" name="email" placeholder="Email" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input th:value="${teacher.address}" type="text" maxlength="100" class="form-control" id="address" name="address" placeholder="Address" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthdate">Birthdate</label>
                                        <input th:value="${teacher.birthDate}" type="date" class="form-control" id="birthdate" name="birthdate" placeholder="birthdate" disabled>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="saveButton" class="btn btn-primary" style="margin: 2px; display: none;" onclick="saveEdit()">Save</button>
                            <button type="button" id="editButton" class="btn btn-warning" style="margin: 2px" onclick="enableEdit()">Edit</button>
                        </form>
                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Created Course</h3>
                    </div>
                    <div class="card-body">
                        <table id="dt-teacher" class="table table-striped"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="modal-course-detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Course  Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--gonna fill this space-->
                    <div id="course-details"></div>
                    <button id="unroll-button" class="btn btn-primary mt-3">Leave Course</button>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
</body>
</html>